<!doctype html>
<html lang="en">

<head>
<title>NDSHOP | ĐĂNG KÝ</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/login.css">
<!-- Bootstrap CSS v5.2.1 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">

</head>
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<body>

	<main ng-controller="update-ctrl">
		<div class="main">
			<div class="box-form">
				<div class="left">
					<div class="overlay">
						<h1 >WELCOME</h1>
						<p >Tạo tài khoản để nhận được nhiều ưu đãi hơn.</p>
						<span class="otherLogin"> <a th:href="@{/oauth2/authorization/facebook}"><img
								th:src="@{/images/facebook.png}" alt="" ></a> <a
							th:href="@{/oauth2/authorization/google}" ><img th:src="@{/images/google.png}" alt="" >
								</a>
						</span>
					</div>
				</div>

				<div class="right text-center">
					<div class="form">
						<h1 class="h3 mb-3 fw-normal alert alert-[[${color}]]" >Cập nhập thông tin</h1>
						<form action="">
							<!-- <h1 class="h3 mb-3 fw-normal alert alert-[[${color}]]">[[${message}]]</h1> -->

							<div class="form-floating">
								<input type="text" class="form-control" id="username" placeholder="abc"
									ng-model="form.username"> <label for="username" >Tên đăng nhập</label>
							</div>
							<div class="form-floating">
								<input type="text" class="form-control" id="fullname" placeholder="DaHu"
									ng-model="form.fullname"> <label for="fullname" >Họ tên</label>
							</div>
							<div class="form-floating">
								<input type="email" class="form-control" id="email" placeholder="name@example.com"
									ng-model="form.email"> <label for="email" >Email</label>
							</div>
							<div class="form-floating">
								<input type="Diachi" class="form-control" id="Diachi" placeholder="abc"
									ng-model="form.Diachi"> <label for="Diachi" >Địa chỉ</label>
							</div>
							

							<button class="w-100 btn btn-lg btn-primary" type="submit" ng-click="create()" >Xác nhận</button>
							<p class="mt-5 mb-3 text-muted">WELCOME</p>

						</form>
						
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- Bootstrap JavaScript Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>
	<script src="../../static/js/dangky-ctrl.js"></script>
</body>

</html>