<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main class="container mt-4">
		<div class="container">
        <img src="/img/Desktop_ClearanceSale.jpg" class="mt-4 col-12" alt="Clearance Sale">
        <div class="row mt-4">
            <hr>
            <div class="container mt-5">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <!-- Product 1 -->
                    <div class="col">
                        <div class="card" style="position: relative; overflow: hidden; border: none;">
                            <div style="position: relative;">
                                <img src="/Images/Ananas X Doraemon 50 Years Pattas.jpg" class="card-img-top " alt="Product 1" style="transition: all 0.3s ease;">
                                <!-- Chữ "Online Only" -->
                                <span style="position: absolute; top: 10px; left: 10px; background-color: black; color: white; padding: 5px 10px; font-size: 12px;">Online Only</span>
                                <!-- Biểu tượng trái tim -->
                                <i class="bi bi-heart heart" style="color: orange; position: absolute; top: 10px; right: 10px; font-size: 24px;"></i>
                                <button class="btn btn-success" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">MUA NGAY</button>
                            </div>
                            <div class="card-body text-center" >
                                <p class="fw-light" style="color: orange;">Sale off</p>
                                <hr style="border-top: 1px dashed #ccc;">
                                <p class="fw-bold">Hiphop Graphic Tee - Outline Typo</p>
                                <p class="fw-normal">Black</p>
                                <p class="price">
                                    <span class="fs-6 fw-bold m-1">200.000 VND</span>
                                    <span class="fs-6 text-decoration-line-through m-1">350.000 VND</span>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Product 2 -->
                    <div class="col">
                        <div class="card" style="position: relative; overflow: hidden; border: none;">
                            <div style="position: relative;">
                                <img src="/Images/Basas Bumper Gum EXT NE - Low Top.jpg" class="card-img-top" alt="Product 2" style="transition: all 0.3s ease;">
                                <!-- Chữ "Online Only" -->
                                <span style="position: absolute; top: 10px; left: 10px; background-color: black; color: white; padding: 5px 10px; font-size: 12px;">Online Only</span>
                                <!-- Biểu tượng trái tim -->
                                <i class="bi bi-heart heart" style="color: orange; position: absolute; top: 10px; right: 10px; font-size: 24px;"></i>
                                <button class="btn btn-success" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">MUA NGAY</button>
                            </div>
                            <div class="card-body text-center">
                                <p class="fw-light" style="color: orange;">Sale off</p>
                                <hr style="border-top: 1px dashed #ccc;">
                                <p class="product-title">Graphic Tee - Most Wanted Dalton</p>
                                <p class="fw-normal">Caviar Black</p>
                                <p class="price">
                                    <span class="fs-5 fw-bold m-1">200.000 VND</span>
                                    <span class="fs-5 text-decoration-line-through m-1">350.000 VND</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Product 3 -->
                    <div class="col">
                        <div class="card" style="position: relative; overflow: hidden; border: none;">
                            <div style="position: relative;">
                                <img src="/Images/Basas Bumper Gum NE - Mule.jpeg" class="card-img-top" alt="Product 3" style="transition: all 0.3s ease;">
                                <!-- Chữ "Online Only" -->
                                <span style="position: absolute; top: 10px; left: 10px; background-color: black; color: white; padding: 5px 10px; font-size: 12px;">Online Only</span>
                                <!-- Biểu tượng trái tim -->
                                <i class="bi bi-heart heart" style="color: orange; position: absolute; top: 10px; right: 10px; font-size: 24px;"></i>
                                <button class="btn btn-success" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">MUA NGAY</button>
                            </div>
                            <div class="card-body text-center">
                                <p class="fw-light" style="color: orange;">Sale off</p>
                                <hr style="border-top: 1px dashed #ccc;">
                                <p class="fw-bold">Hiphop Graphic Tee - Discover Ananas</p>
                                <p class="fw-normal">Ermine</p>
                                <p class="price">
                                    <span class="fs-5 fw-bold m-1">200.000 VND</span>
                                    <span class="fs-5 text-decoration-line-through m-1">365.000 VND</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="position: relative; overflow: hidden; border: none;">
                            <div style="position: relative;">
                                <img src="/Images/Basas RAW - High Top.jpg" class="card-img-top" alt="Product 1" style="transition: all 0.3s ease;">
                                <!-- Chữ "Online Only" -->
                                <span style="position: absolute; top: 10px; left: 10px; background-color: black; color: white; padding: 5px 10px; font-size: 12px;">Online Only</span>
                                <!-- Biểu tượng trái tim -->
                                <i class="bi bi-heart heart" style="color: orange; position: absolute; top: 10px; right: 10px; font-size: 24px;"></i>
                                <button class="btn btn-success" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">MUA NGAY</button>
                            </div>
                            <div class="card-body text-center" >
                                <p class="fw-light" style="color: orange;">Sale off</p>
                                <hr style="border-top: 1px dashed #ccc;">
                                <p class="fw-bold">Hiphop Graphic Tee - Outline Typo</p>
                                <p class="fw-normal">Black</p>
                                <p class="price">
                                    <span class="fs-6 fw-bold m-1">200.000 VND</span>
                                    <span class="fs-6 text-decoration-line-through m-1">350.000 VND</span>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Product 2 -->
                    <div class="col">
                        <div class="card" style="position: relative; overflow: hidden; border: none;">
                            <div style="position: relative;">
                                <img src="/Images/Basas Evergreen - Low Top.jpg" class="card-img-top" alt="Product 2" style="transition: all 0.3s ease;">
                                <!-- Chữ "Online Only" -->
                                <span style="position: absolute; top: 10px; left: 10px; background-color: black; color: white; padding: 5px 10px; font-size: 12px;">Online Only</span>
                                <!-- Biểu tượng trái tim -->
                                <i class="bi bi-heart heart" style="color: orange; position: absolute; top: 10px; right: 10px; font-size: 24px;"></i>
                                <button class="btn btn-success" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">MUA NGAY</button>
                            </div>
                            <div class="card-body text-center">
                                <p class="fw-light" style="color: orange;">Sale off</p>
                                <hr style="border-top: 1px dashed #ccc;">
                                <p class="product-title">Graphic Tee - Most Wanted Dalton</p>
                                <p class="fw-normal">Caviar Black</p>
                                <p class="price">
                                    <span class="fs-5 fw-bold m-1">200.000 VND</span>
                                    <span class="fs-5 text-decoration-line-through m-1">350.000 VND</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Product 3 -->
                    <div class="col">
                        <div class="card" style="position: relative; overflow: hidden; border: none;">
                            <div style="position: relative;">
                                <img src="/Images/Basas Mono Black NE - Low Top.jpg" class="card-img-top" alt="Product 3" style="transition: all 0.3s ease;">
                                <!-- Chữ "Online Only" -->
                                <span style="position: absolute; top: 10px; left: 10px; background-color: black; color: white; padding: 5px 10px; font-size: 12px;">Online Only</span>
                                <!-- Biểu tượng trái tim -->
                                <i class="bi bi-heart heart" style="color: orange; position: absolute; top: 10px; right: 10px; font-size: 24px;"></i>
                                <button class="btn btn-success" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">MUA NGAY</button>
                            </div>
                            <div class="card-body text-center">
                                <p class="fw-light" style="color: orange;">Sale off</p>
                                <hr style="border-top: 1px dashed #ccc;">
                                <p class="fw-bold">Hiphop Graphic Tee - Discover Ananas</p>
                                <p class="fw-normal">Ermine</p>
                                <p class="price">
                                    <span class="fs-5 fw-bold m-1">200.000 VND</span>
                                    <span class="fs-5 text-decoration-line-through m-1">365.000 VND</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-4">
        </div>
    </div>
	</main>
</body>
</html>
